* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  opacity: 0.4;

  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
}
.logo {
  width: 100px;
  margin-top: 30px;
}

.navtab {
  text-decoration: none;
  font-size: 14px;
  color: white;
}

ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style-type: none;
}
nav li {
  display: flex;
  padding: 10px 20px;
}

li a:hover {
  text-decoration: 2px underline;
}

.navButton {
  color: #edf0f1;
  padding: 10px 30px;
  background-color: #f04e56;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.navButton:hover {
  opacity: 0.9;
}
.aboveContact {
  opacity: 0.4;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.aboveContact img {
  width: 150px;
  height: 150px;
  margin: 0 30px;
  border-radius: 150px;
  box-shadow: 5px -2px 5px grey;
}
.detailsBlock h2 {
  font-size: 22px;
  margin-bottom: 10px;
}
.detailsBlock h3 {
  line-height: 20px;
}

.aboveContact a {
  text-decoration: none;
  color: black;
  font-weight: normal;
}

.aboveContact a:hover {
  opacity: 0.7;
}

.contactBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  background-image: url(./images/curtainsOpacity.png);
}

.contactBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 345px;
  width: 350px;
  border: 2px solid black;
  border-radius: 10px;
  font-weight: 600;
  box-shadow: 5px -2px 5px grey;
  background-color: white;
}
.returnButton {
  color: #edf0f1;
  padding: 10px 50px;
  background-color: #f04e56;
  margin-top: 20px;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.returnButton:hover {
  opacity: 0.7;
}

.label,
.input {
  display: flex;
  justify-content: center;
  width: 250px;
  padding: 5px;
  margin: 5px;
}
select {
  text-align: center;
}
#submit {
  background-color: #f04e56;
  border: none;
  height: 25px;
  margin-top: 10px;
  font-size: 12px;
  border-radius: 5px;
  color: white;
}

#submit:hover {
  opacity: 0.7;
}
.belowContact {
  height: 0px;
}
footer {
  opacity: 0.4;
  width: 100%;
  height: 125px;
  color: #edf0f1;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.copyright {
  background-color: black;
  color: #edf0f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}

.footerLogo {
  align-items: center;
  margin: -25px;
}
.icons {
  background-color: black;
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.sm-icons {
  width: 35px;
  margin: 10px;
}
